{% extends 'base.html.twig' %}

{% block body %}
	<div class="page-header">
		<h1>{{ h1_title }}</h1>
	</div>
	<div id="attribute_container" class="container-fluid">
		<div class="row">
			<p class="text-center">
				<button type="button" class="display-form btn btn-default">{{ 'view.add-category'|trans }}</button>
			</p>
			<div class="attribute-form">
				<p class="form-title">{{ 'view.add-category'|trans }}</p>
				{{ form_start(category_form) }}
				{{ form_widget(category_form) }}
				{{ form_end(category_form) }}
			</div>
			<hr>
		</div>

		{% if categories is empty %}
			<p>{{ 'view.nothing2display'|trans }}</p>
		{% else %}
			<div class="row">
				<p id="error_message" class="text-danger">&nbsp;</p>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>{{ 'view.id'|trans|upper }}</th>
								<th>
						<div class="phoca-flagbox small">
							<span class="phoca-flag fr"></span>
						</div>
						</th>
						<th>
						<div class="phoca-flagbox small en">
							<span class="phoca-flag en"></span>
						</div>
						</th>
						<th>{{ 'view.active?'|trans }}</th>
						</tr>
						</thead>
						<tbody>
							{% for category in categories %}
								<tr>
									<td>
										<b>{{ category.category_id }}</b>
									</td>
									<td>
										{{ include('Ecommerce:Form:category_attr_value.html.twig',
											{
												'form': attr_value_form,
												'category': category,
												'values': category.values.fr,
												'locale': 'fr'
											}) }}
									</td>
									<td>
										{{ include('Ecommerce:Form:category_attr_value.html.twig',
											{
												'form': attr_value_form,
												'category': category,
												'values': category.values.en,
												'locale': 'en'
											}) }}
									</td>
									<td class="set-is-active">
										<input type="checkbox" name="is-active" value="{{ category.category_id }}" {% if category.is_active %}checked="checked"{% endif %}>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		//<![CDATA[
		Ecommerce.attributeController();
		//]]>
	</script>
{% endblock %}
