{% extends 'base.html.twig' %}

{% block head_title %}{{ head_title }}{% endblock %}

{% block body %}
    <div class="page-header">
		<h1>{{ h1_title }}</h1>
	</div>

	<p>Your current email is <u>{{ current_email }}</u><p>

	{{ form_start(email_form) }}
	{{ form_widget(email_form) }}
	{{ form_end(email_form) }}
{% endblock %}
