{% extends 'base.html.twig' %}

{% block head_title %}{{ head_title }}{% endblock %}

{% block body %}
	<div class="page-header">
		<h1>{{ h1_title }}</h1>
	</div>

	{% if addresses is empty %}
		<p>{{ 'view.nothing2display'|trans }} <a href="{{ path('address_create') }}" title="{{ 'view.add-address'|trans }}">{{ 'view.add-address'|trans }}</a></p>
	{% else %}
		<div id="address_delete" class="container-fluid">
			<p id="address_delete_message" class="text-danger">&nbsp;</p>
			<div class="row">
				{% for address in addresses %}
					<div class="col-xs-3 address-block">
						{{ ('genders.' ~ address.prefix)|trans }} {{ address.firstname }} {{ address.lastname }}<br>
						{{ address.street }}<br>
						{{ address.postcode }} {{ address.location }}<br>
						{{ address.subdivision }}, {{ address.country }}<br>
						{{ 'view.phone'|trans({'%telephone%' : address.telephone}) }}
						<form method="post" action="{{ path('address_delete') }}" class="text-center visible-*-block">
							<input type="hidden" name="address_id" value="{{ address.address_id }}">
							<button type="submit" class="btn btn-default">{{ 'button.delete'|trans }}</button>
						</form>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		//<![CDATA[
		Ecommerce.deleteAddress('{{ url('account_addresses') }}');
		//]]>
	</script>
{% endblock %}
