{% extends 'base.html.twig' %}

{% block head_title %}{{ head_title }}{% endblock %}

{% block body %}
	<div class="page-header">
		<h1>{{ h1_title }}</h1>
	</div>

	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	{{ form_start(login_form) }}
	{{ form_widget(login_form) }}
	{{ form_end(login_form) }}

	<a href="{{ path('account_create') }}" title="Create an account">Not a member yet ?</a>
{% endblock %}
